<!DOCTYPE html>
<html>
<head>
	<title>BlogPosts</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" type="text/css">
	<link rel="stylesheet" href="/stylesheet/landing.css" type="text/css">
</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="left menu">
            <div class="header item"><i class="blogger b icon"></i>Blogger's Point</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>
        <div class="right menu">
            <a href="/login" class="item">Login</a>
            <a href="/register" class="item">Sign-up</a>
        </div>
        
    </div>
</div>