<% include ./partials/loghead %>
<div class="ui main container text">
 <h1>Sign-Up</h1>
    <div class="ui form">
        <form action="/register" method="POST">
                <div class="field">
                    <input type="email" name="username" placeholder="username" required>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="password" required>
                </div>
                <button class="field ui button blue inverted">Submit</button>     
                </div>
           
        </form>
    </div>
</div>
<% include ./partials/logfoot %>